#cannonControl{
	background-color: #dd0000;
	text-align:center;
	color:white;
	
}
#fire{
	color:red;
	line-height: 30px;
	width: 175px
}

#gameControl{
	background-color: #b2e057;
	text-align:center;
	float:left
}
#score{
	float:left;
	font-size:30px;
}

#shots{
	float:right;
	font-size:30px;
}
#gameArea{
	margin:auto;
	width: 70%;
	float:right
	
}
.text_info{
	font-size:16px;
}
.win_info{
	font-size:40px;
	color: red;
	text-decoration:underline;
	text-transform: capitalize;
}

.lose_info{
	font-size:40px;
	color: blue;
	text-decoration:underline;
	text-transform: capitalize;
}
.button{
	color:black;
	line-height: 30px;
	width: 100px
}
.button_diff{
	color:black;
	line-height: 30px;
	margin-top:20px;
}
